*{
    padding: 0px;
    margin: 0px;
}

body {
  background-color: white;
  color: black;
}

.conteudo-checklist {
  margin: 0 auto;
  width: 500px;
  display: grid;
  height: 80vh;
  align-items: center;
  align-content: stretch;
}

footer {
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
  height: 6.6vh;
}
